@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
}

ul {
	list-style: none;
	display: flex;
	align-items: center;
}

a, li{
	text-decoration: none;
}

body {
    background-color: #f2f2f2;
	font-family: "Montserrat", sans-serif;	
	font-size: 13px;
	font-weight: 700;
	text-size-adjust: 100%;
	text-decoration: none;
}

.app__container {
    display: block;
    position: relative;
	width: 100%;
    margin: 0 auto;
    padding: auto 1.6rem;
}

@media screen and (min-width: 1270px) {
	.app__container {
		width: 1270px;
	}
}