.product__details {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	margin: 0 auto;
	position: relative;
	width: 100%;
	padding-bottom: 6.5rem;
	margin-top: 70px;
}


@media screen and (min-width: 1279px) {

	.product__details .product__details__image,
	.product__details .product__details__content {
		width: 50%;
	}

	.product__details .product__details__image img {
		justify-content: center;
		width: 100%;
	}

	.product__details__actions {
		position: relative;
		z-index: 0;
		padding: 2rem 0;
	}

	.product__details {
		width: 1279px;
		padding-top: 1.6rem;
		padding-left: 1.6rem;
		padding-right: 1.6rem;
	}

	.product__details__addToCart {
		width: 50%;
	}
	
}


.product__details__image {
	overflow: hidden;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.product__details__image img {
	justify-content: center;
	width: 100%;
}


.product__details__content {
	padding: 0 1.6rem;
	justify-content: left;
}

.product__details__content .product__details__name {
	text-align: left;
	font-size: 2rem;
	margin-bottom: .8rem;
	letter-spacing: -.05rem;
}

.product__details__name {
	font-size: 1.3rem;
	font-weight: 600;
	margin-top: 1rem;
	margin-bottom: .5rem;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.product__details__content .product__details__pricing {
	justify-content: left;
}

.product__details__pricing {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product__details__content .product__details__price {
	font-size: 1.6rem;
	margin-bottom: .8rem;
	font-weight: 600;
}

.product__details__price {
	font-size: 1.4rem;
}

.product__details__content .product__details__price--installments {
	font-size: 1.4rem;
	margin-left: 1rem;
	color: #a7a7a7;
}

.product__details__content .product__details__price {
	font-size: 1.6rem;
	margin-bottom: .8rem;
	font-weight: 600;
}

.product__details__sizes {
	display: block;
}

.product__details__sizes__title {
	color: #a7a7a7;
	font-size: 1.4rem;
	margin-bottom: 1rem;
}

.product__details__btnGroup {
	display: flex;
	justify-content: left;
	align-items: center;
}

.product__details__filter {
	position: relative;
	cursor: pointer;
	font-weight: 600;
	padding: .8rem 1rem;
	border: .1rem solid #dfdfdf;
	margin-right: .8rem;
	background: transparent;
	outline: none;
	border-radius: .5rem;
}


.product__details__actions {
	backface-visibility: hidden;
	bottom: 0;
	left: 0;
	padding: 1rem 0;
	width: 100%;
}

.product__details__addToCart {
	background-color: #212529;
	border-radius: .5rem;
	border: none;
	box-shadow: 0 0.2rem 2rem 0 rgba(0, 0, 0, .5);
	color: #fff;
	display: inline-block;
	line-height: 1;
	outline: none;
	cursor: pointer;
	padding: 1.2rem;
	text-align: center;
	transform: translateZ(0);
	left: 0px;
	position: relative;
	width: 50%;
	font-size: large;
	font-weight: 100;
}