@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap);

*,
*:after,
*:before {
	box-sizing: border-box;
}

ul {
	list-style: none;
	display: flex;
	align-items: center;
}

a,
li {
	text-decoration: none;
}


body {
	background-color: #f9f9f9;
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-size-adjust: 100%;
	text-decoration: none;
}

button {
	border: none;
	box-shadow: none;
	outline: none;
	background-color: transparent;
}

.app {
	min-height: 100vh;
    position: relative;
}

.app__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 15px 30px;	
	width: 1279px;
}

@media screen and (min-width: 1279px) {
	.app__container {
		width: 1279px;
	}
}