.drawer {
    transform: translateZ(0);
    box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22);
    backface-visibility: hidden;
    background: #fff;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    position: fixed;
    top: 0;
    z-index: 20;
    right: 0;
    width: 100%;
}

@media screen and (min-width: 879px) {

    .drawer,
    .drawer .app__container {
        width: 375px;
    }

}

.drawer__header {
    backface-visibility: hidden;
    background-color: #fff;
    height: 5.5rem;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateZ(0);
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .02);
}

.app__container .drawer__header__title {
    width: 100%;
}

.drawer__header__title {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.drawer__header__icons {
    align-items: center;
    display: flex;
    background: transparent;
    border-radius: 100%;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 2rem;
    line-height: 0;
    outline: none;
    padding: 0;
    position: relative;
}


.drawer__header__button--back {
    font-size: 2.5rem;
    margin-right: auto;
}

.drawer__header__title__info {
    font-size: 1.4rem;
    font-weight: 600;
    display: inline-block;
    padding-top: .7rem;
    padding-bottom: .7rem;
    margin: 0 auto;
}

.drawer__content {
    padding-top: 5.5rem;
    width: 100%;
    background: #f9f9f9;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 5rem;
}

.drawer__product-list {
    width: 100%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.cart__empty {
    font-size: 1.8rem;
    font-weight: 400;
    position: absolute;
    top: 50%;
    margin: 0 auto;
    color: #a7a7a7;
    transform: translate3d(0, -50%, 0);
    text-align: center;
    left: 0;
    width: 100%;
}

.drawer__footer {
    backface-visibility: hidden;
    background: #212529;
    bottom: 0;
    box-shadow: 0 -0.2rem 2rem 0 rgba(0, 0, 0, .08);
    color: #fff;
    display: flex;
    padding: 2rem 1.6rem;
    position: fixed;
    text-align: center;
    left: 0;
    width: 100%;    
    font-size: larger;
    justify-content: flex-start;
}

.drawer__footer span {
    font-size: 1.4rem;
    font-weight: 600;
    display: inline-block;
    padding: 0 .7rem;
}