.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backface-visibility: hidden;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: white;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 8px 16px;
}

.header .app__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 5px 0;
}

.header .header__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__icons button {
    text-decoration: none;
    color: black;
    font-weight: 400;
    border: none;
    padding: 1px;
    font-size: 1.1rem;
    background-color: white;
    margin: auto 5px;
}
