.topbar {
  backface-visibility: hidden;
  background-color: #fff;
  height: 70px;
  left: 0;
  position: fixed;
  top: 0;
  transform: translate3d(0, 0, 0);
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.02);
}

.topbar .app__container {
  padding: 15px 30px;
}

.topbar__logo {
  display: inline-block;
  height: 40px;
}

.topbar__logo img {
  height: 100%;
}

.topbar__group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: normal;
  font-size: large;
}

.topbar__group a {
  color: black;
  font-size: 20px;
  margin-right: 10px;
  margin: 10px;
  height: 100%;
  border-radius: 100%;
}

.topbar__group .topbar__icon--cart .counter {
  overflow: hidden;
  border-radius: 50%;
  background: #cf3838;
  color: #fff;
  width: 100%;
  line-height: 1.6rem;
  font-size: 1.1rem;
  font-weight: 700;
  white-space: nowrap;
  
}