.topbar {
  backface-visibility: hidden;
  background-color: #fff;
  height: 70px;
  left: 0;
  position: fixed;
  top: 0;
  transform: translate3d(0, 0, 0);
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.02);
}

.topbar .app__container {
  padding: 15px 30px;
}

.topbar__logo {
  display: inline-block;
  height: 40px;
}

.topbar__logo img {
  height: 100%;
}

.topbar__group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: normal;
  font-size: large;
}

.topbar__group i{
  color: black;
  font-size: 20px;
  margin-right: 10px;
  margin: 10px;
  height: 100%;
  border-radius: 100%;
}

.topbar .topbar__icon--cart,  .topbar .topbar__icon--search {
    cursor: pointer;
    margin-right: 1rem;
    background: transparent;
    border-radius: 100%;
    border: none;
    box-shadow: none;
    font-size: 1.6rem;
    line-height: 0;
    outline: none;
    padding: 0;
    position: relative;
}

.counter {
  background: #cf1111;
  color: white;
  height: auto;
  width: 1.5rem;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  line-height: 1.5rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;  
}